#fh5co-aside{
	background-color: #ffffff;
}
body.offcanvas #fh5co-aside {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  width: 270px;
  background: #FFFBFC;
  z-index: 999;
  position: fixed;
}
.nav .active a{
  color: #00AEEF !important;
  font-weight: 400 !important;
/*  font-size: 14px !important;*/
}