@media screen and (max-width: 1024px) {
  #header .header-content {
    width: 100%;
    height: 120px;
    padding: 40px 0;
  }

  #header .logo {
    left: 3vw;
  }

  .navigation {
    right: 3vw;
  }

  .logo img {
    width: 60px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  #header .header-content {
    padding: 40px 0;
    height: 120px;
  }

  #header .logo {
    left: 4vw;
  }

  .navigation {
    right: 4vw;
  }

  .logo img {
    width: 60px;
    height: auto;
  }

  .intro_1 {
    margin-top: 80px;
  }

  .intro_2 {
    margin-top: 40px;
  }

  .intro_3 {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  #header .header-content {
    padding: 40px 0;
    height: 120px;
  }

  #header .logo {
    left: 5vw;
  }

  .navigation {
    right: 5vw;
  }

  .logo img {
    width: 60px;
    height: auto;
  }

  .intro_1 {
    margin-top: 16px;
  }

  .intro_2 {
    margin-top: 40px;
  }

  .intro_3 {
    margin-top: 8vh;
  }
}
