/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto%20Slab:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
/* ------------------------------------------------------------------------------
Genral css across pages
-------------------------------------------------------------------------------*/
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 3rem;
}
#index{
background-color: #2b4162;
background-image: linear-gradient(340deg, #141E30 0%, #12100e 74%);

}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin:0;
  padding:0;
  min-height: 100%;
}
/* Global Styles*/

a:hover, a:focus{
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #6c7279;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}

/* Header and navigation */
#header .header-content {
	margin: 0 auto;
	/*max-width: 1170px;*/
  /*max-width: 1300px;*/
	/*padding-left: 72pt;*/
  padding-top: 30pt;
	/*width: 100%;*/
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
}

#header .logo {

  float: left;
  padding-left: 5vw;
}
#header.fixed {
	background-color: rgba(250,250,250);
}
#header.fixed .header-content {
	border-bottom: 0;
	/*padding: 25px 0;*/
}
#header.fixed .nav-toggle {
	top: 45px;
}
.logo img {
	width:7vw;
}
.navigation.open {
	opacity: 0.9;
	visibility: visible;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.navigation {
  float:right;
  padding-top: 11pt;
	padding-right: 62pt;
}

.navigation li {
	display: inline-block;
}
.navigation a {
	color: rgba(100, 100, 100, 0.75);
	font-size: 13px;
	font-weight: 400;
	margin-left: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
#navigation-home a {
	color: rgba(230, 230, 230, 0.75);
	font-size: 13px;
	font-weight: 400;
	margin-left: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.navigation a:hover, .navigation a.active {
	color: rgba(100, 100, 100, 0.75);
}
.nav-toggle {
	display: none;
	height: 4vw;
	width:  4vw;
	overflow: hidden;
	position: fixed;
	right: 5%;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 99999;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.nav-toggle:before {
	background-color: rgb(50,50,50);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.nav-toggle:after {
	background-color: rgb(50,50,50);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.nav-toggle span {
	background-color: #fff;
	bottom: auto;
	display: inline-block;
	height: 3px;
	left: 50%;
	position: absolute;
	right: auto;
	top: 50%;
	width: 18px;
	z-index: 10;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
	background-color: #fff;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.nav-toggle span:before {
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-webkit-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
.nav-toggle.close-nav:after {
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.nav-toggle.close-nav span {
	background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
	background-color: #fff;
}
.nav-toggle.close-nav span:before {
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}
/* ------------------------------------------------------------------------------
project page
-------------------------------------------------------------------------------*/
.name{
  font-size: 1.8vw;
  font-family: 'Cutive Mono', monospace;
  font-weight:800;
  color:rgb(30, 30, 30);
}

.intro{
  /*width: 100%;*/
  margin-top: 1.5vw;
  text-align: center;
  color:rgb(30, 30, 30);
}

.lead{
  font-family: 'Kite One','Gafata','Mada', 'Jaldi','Alegreya Sans SC','Julius Sans One','Yantramanav','Maven Pro','Muli', 'PT Sans','Raleway','Source Sans Pro','Abel','Codystar','Monoton','Comfortaa','Roboto', sans-serif;
  font-size: 1.1vw;
  font-weight:200;
  color:rgb(230, 230, 230);
}
.arrow_down{
	text-align: center;
	margin-top: 1.5vw;
}

/*nodes garden animation*/
#animation {
  overflow: hidden;
  text-align: center;
}
#canvas{
  margin:0 auto;
  margin-top: 2.5vw;
  margin-bottom: 0.5vw;
  margin-left: 0vw;
  margin-right: 0vw;
  display: block;
}
.introduction_mobile{
  display: none;
}

.introduction_mobile .intro_mobile_1{
  margin-top: 17vh;
  color: rgb(220,220,220); 
  font-size: 10vw;
  font-weight: 900;
}
.introduction_mobile .intro_mobile_2{
  color: rgb(220,220,220); 
  font-size: 6vw;
  font-weight: 600;
}
.introduction_mobile .intro_mobile_3{
  color: rgb(150,150,150); 
  font-size: 5vw;
  font-weight: 300;
}


.proj_name{
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}
.proj_intro{
  font-size: 1.3rem;

}
.proj_tag{
  font-size: 1.3rem;
}


.proj_label{
	font-family: PT Sans,"Helvetica Neue","Helvetica","Arial",sans-serif;
	margin-top: 55vh;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-top: 1.5rem;
	color: #4A4A4A;
	background-color: white;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}

#proj1_shortline{
	background-color:#1CBEBC;
	height: 2px;
	width: 1.5rem; 
	margin-bottom: 0.4rem;
}
#proj1_shortline{
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj1_label {
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj1_label:hover {
	color: white;
	background-color: #1CBEBC;
}
#proj1_label:hover #proj1_shortline{
	background-color:white;
}

#proj2_shortline{
	background-color:#0074B7;
	height: 2px;
	width: 1.5rem; 
	margin-bottom: 0.4rem;
}
#proj2_shortline{
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj2_label {
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj2_label:hover {
	color: white;
	background-color: #0074B7;
}
#proj2_label:hover #proj2_shortline{
	background-color:white;
}

#proj3_shortline{
	background-color:#ff5722;
	height: 2px;
	width: 1.5rem; 
	margin-bottom: 0.4rem;
}
#proj3_shortline{
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj3_label {
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#proj3_label:hover {
	color: white;
	background-color: #ff5722;
}
#proj3_label:hover #proj3_shortline{
	background-color:white;
}


.intern_label{
	font-family: PT Sans,"Helvetica Neue","Helvetica","Arial",sans-serif;
	margin-top:50vh;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-top: 1.5rem;
	color: #4A4A4A;
	background-color: white;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}
.intern_name{
	font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
}
#intern_shortline{
	background-color:#005AAE;
	height: 2px;
	width: 1.5rem; 
	margin-bottom: 0.4rem;
}
#intern_shortline{
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#intern_label {
	-webkit-transition: color 0.5s, background-color 0.5s; /* Safari */
    transition: color 0.5s, background-color 0.5s;
}
#intern_label:hover {
	color: white;
	background-color: #005AAE;
}
#intern_label:hover #intern_shortline{
	background-color:white;
}

.onesection{
	font-size: 16px;
	margin-left: 0;
}

.project1 a{
	color:#000000;
	text-decoration: none;

}

.project1{
	margin-left: 0;
	height: 100vh;
	background-image: url("../img/proj1_background.png");
	background-repeat: no-repeat;
    background-size: 100%
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
/*  background: #74ebd5;*/ /* For browsers that do not support gradients */
}


.project2{
	margin-left: 0;
	height: 100vh;
	background-image: url("../img/proj2_background.png");
	background-repeat: no-repeat;
    background-size: 100%
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.project3{
	margin-left: 0;
	height: 100vh;
	background-image: url("../img/proj3_background.png");
	background-repeat: no-repeat;
    background-size: 100%
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.project4{
	margin-left: 0;
	height: 600px;
  background-color: #5AC5D1;
  background: -webkit-linear-gradient(left, #74ebd5 , #ACB6E5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #74ebd5, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1CB5E0 , #6D6DD8); /* Standard syntax */
}
.project5{
	margin-left: 0;
	height: 600px;
  background-color: #5AC5D1;
  background: -webkit-linear-gradient(left, #74ebd5 , #ACB6E5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #74ebd5, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, ##141E30 , #243B55); /* Standard syntax */
}
.project6{
	margin-left: 0;
	height: 600px;
  background-color: #5AC5D1;
  background: -webkit-linear-gradient(left, #74ebd5 , #ACB6E5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #74ebd5, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #76B852 , #8dc26f); /* Standard syntax */
}

.intern{
	margin-left: 0;
	height: 100vh;
	background-image: url("../img/intern_background.png");
	background-repeat: no-repeat;
    background-size: 100%
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.hideme{
    opacity:0;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.footer{
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;*/
  text-align: center;
  color: rgb(200,200,200);
  position:absolute; 
  left:0;
  bottom:0; 
  right: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
/*  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;*/
}

.signature-1,.signature-2{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
}
/* ------------------------------------------------------------------------------
profile page
-------------------------------------------------------------------------------*/
.introduction{
  margin-left: 5vw;
  margin-top: 2vw;
}
.static_profile{
	display: none;
}
/* ------------------------------------------------------------------------------
resume page
-------------------------------------------------------------------------------*/
.a3{
    font-family: "Roboto",arial,sans-serif;
    text-decoration: none;
    color: rgb(180,180,180);
    border-bottom: 2px dotted #ee7a2e;
    margin: 0 auto;
  }
.a3:hover{
  color:#ee7a2e;
}
/* ------------------------------------------------------------------------------
Contact page
-------------------------------------------------------------------------------*/
.photo{
	width: 100%;
}
.letter{
	margin-top: 8vh;
  margin-bottom: 100px;
  font-family: PT Sans,"Helvetica Neue","Helvetica","Arial",sans-serif;
}
.letter a:hover, a:focus {
	text-decoration: none;
	-moz-transition: background-color, color, 0.3s;
	-o-transition: background-color, color, 0.3s;
	-webkit-transition: background-color, color, 0.3s;
	transition: background-color, color, 0.3s;
}
.letter p{
}
.letter .para_1{
  padding-top: 5pt;
  font-size: 1.2vw;
  margin-bottom: 25pt;
}
.letter .para_2{
  font-size: 1.2vw;
  margin-bottom: 25pt;
}
.letter .para_3{
  color:rgb(10,10,10); 
  font-size: 1.2vw;
  font-weight: 600;
  margin-bottom: 25pt;
}
.letter .email{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #F5A623;
  color: #F5A623;
  border-radius: 4px;
}
.letter .email:hover{
  background-color:#F5A623;
  color: white;
  border-radius: 4px;
}
.letter .linkedin{
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #0074B7;
  color: #0074B7;
  border-radius: 4px;
}
.letter .linkedin:hover{
  background-color:#0074B7;
  color: white;
  border-radius: 4px;
}


@media screen and (max-width: 767px) and (min-width: 320px){
    .fh5co-nav-toggle {
        opacity: 1;
        visibility: visible;
    }

    .introduction_laptop {
      display: none;
    }
    .introduction_mobile{
      display: block;
    }

    div#tabs{
        height: 40px;
    }

    div#tabs a.btn{
        height: 40px;
        line-height: 27px;
        font-size: 17px;
        font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    div#tabs a#after:after, div#tabs a#before:before{
        vertical-align: -10%;
    }


    h1.header{
        font-size: 35px;
    }

    h2.page-header{
        
        font-size: 22px;
        font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
        font-weight: 600;
    }

    h2.update{
        font-size: 15px;
        margin-bottom: 0;
    }
    h2.update:before{
        content: none;
    }

    h3.overview_subtitle{
        font-size: 20px;
    }

    h3.project_subtitle{
        font-size:16px;
        margin-top: 40px;
        margin-bottom: 20px;
        letter-spacing: 0.03em;
        text-align: left;
    }

    h3.project_subtitle:before{
        vertical-align: -70%;
    }

    h4.mini-title{
        text-align: left;
        font-size:14px;
        margin-bottom: 20px;
        margin-left: 0;
        padding-bottom: 0
    }

/*    img{
        margin: 20px auto;
        padding: 0 !important;
    }*/
    video {
        margin: 20px auto;
        margin-left: -10px;
    }
    h3.overview_subtitle:before{
        vertical-align: -50%;
    }
    h4.cic-winner{
        float:left;

    }
    h4.cic-winner a{
        font-size: 11px;
        padding: 6px 8px;
    }

    h4.cic-press{
        float:left;
        margin-left: 5px;
    }
     h4.cic-press a{
        font-size: 11px;
         padding: 6px 8px;
    }

    .logo img {
		width:24vw;
	}

	.nav-toggle {
  	display: none;
  	height: 9vw;
  	width:  9vw;
  	overflow: hidden;
  	position: fixed;
  	right: 5%;
  	text-indent: 100%;
  	white-space: nowrap;
  	z-index: 99999;
  	-moz-transition: all 0.3s;
  	-o-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all 0.3s;
	}

	.nav-toggle span {
  	background-color: #fff;
  	bottom: auto;
  	display: inline-block;
  	height: 2px;
  	left: 50%;
  	position: absolute;
  	right: auto;
  	top: 50%;
  	width: 16px;
  	z-index: 10;
  	-moz-transform: translateX(-50%) translateY(-50%);
  	-ms-transform: translateX(-50%) translateY(-50%);
  	-webkit-transform: translateX(-50%) translateY(-50%);
  	transform: translateX(-50%) translateY(-50%);
	}

  .navigation {
    padding-right: 0pt;
  }

	.intro{
	  /*width: 100%;*/
	  margin-top: 12vw;
	}

	.lead{
	  font-family: 'Cutive Mono', monospace;
	  font-size: 2.6vw;
	  font-weight:600;
	  color:rgb(30, 30, 30);
	}
	.arrow_down{
		text-align: center;
		margin-top: 13vw;
	}
	.arrow_down img{
		width: 24px;
	}
	.arrow_down_mobile{
		text-align: center;
		margin-top: 18vw;
	}
	.arrow_down_mobile img{
		width: 16px;
	}
	.static_profile{
		display: block;
	}
	.introduction{
	  margin-left: 4vw;
	  margin-top: 1vw;
    display: none;
	}

	.letter{
		margin-top: 1vw;
    padding-left: 20px;
    padding-right: 20px;
	}
	.letter .para_1{
	  padding-top: 5pt;
	  font-size: 3.5vw;
	  margin-bottom: 25pt;
	}
	.letter .para_2{
	  font-size: 3.5vw;
	  margin-bottom: 25pt;
	}
	.letter .para_3{
	  font-size: 3.5vw;
	  font-weight: 600;
	  margin-bottom: 25pt;
	}
	.letter .photo{
		margin-bottom: 3vw;
	}

  .project1{
  background-image: url("../img/proj1_background_mobile.png");
  }
  .project2{
    background-image: url("../img/proj2_background_mobile.png");
  }
  .project3{
    background-image: url("../img/proj3_background_mobile.png");
  }
  .intern{
    background-image: url("../img/intern_background_mobile.png");
  }

  .proj_label{
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 50vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.9rem;
    padding-top: 1.2rem;
    color: #4A4A4A;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  }

  .proj_name{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    font-weight: 900;
  }
  .proj_intro{
    font-size: 0.9rem;

  }
  .proj_tag{
    font-size: 0.9rem;
  }

  .intern_label{
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top:45vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
    padding-top: 1.2rem;
    color: #4A4A4A;
    background-color: white;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
  }
  .intern_name{
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 900;
  }
}

@media screen and (max-width: 1024px) and (min-width: 767px){
	.logo img {
	width:12vw;
	}
	.letter .para_1{
	  padding-top: 5pt;
	  font-size: 1.8vw;
	  margin-bottom: 25pt;
	}
	.letter .para_2{
	  font-size: 1.8vw;
	  margin-bottom: 25pt;
	}
	.letter .para_3{
	  font-size: 1.8vw;
	  font-weight: 600;
	  margin-bottom: 25pt;
	}

	.letter{
		margin-top: 5vw;
	}
	.letter .photo{
		margin-bottom: 3vw;
	}
}
@media screen and (min-width: 568) and (max-width: 1140px) and (orientation: portrait)  {
	.static_profile{
		display: block;
	}

}

@media screen and (max-width: 1140px) and (min-width: 1024px){
	
}

@media screen and (min-width: 1140px){


}
