
body{
	min-height:100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../images/background1.jpg");
	background-size:100%;
	background-repeat: no-repeat;

}
.container{
	background-color: rgba(0,0,0,0.7);
	padding:50px 0; 
	position:absolute; 
	top:0;
	bottom:0; 
	left:0; 
	right:0;
	text-align: center;
}
.div1{
	width: 100%;
	position: relative;
	text-align: center;

}
.img01{
	margin-top: 11.3vw;
	max-width: 30vw;
	margin-bottom: 0px;
}
.div2{
	position: absolute;
	left:36.5vw;
	top: 11.3vw;
	width: 11vw;
	height: 11vw;
	border-radius: 5.5vw;
	background-color: rgba(255,255,255,0);
	display: -webkit-flex;
	display: flex;
	align-items:center;
	jusitfy-content:center;
}
.div3{
	position: absolute;
	left:52.3vw;
	top: 11.3vw;
	width: 11vw;
	height: 11vw;
	border-radius: 5.5vw;
	background-color: rgba(255,255,255,0);
	display: -webkit-flex;
	display: flex;
	align-items:center;
	jusitfy-content:center;
}
.p0_1{
	margin: 0 auto;
	color: rgba(255,255,255,1);
	font-family: "Roboto",arial,sans-serif;
	font-size: 0.8vw;
	display: none;
	text-decoration: none;
	letter-spacing: 5px;
	
}
.p0_2{
	margin: 0 auto;
	color: rgba(255,255,255,1);
	font-family: "Roboto",arial,sans-serif;
	font-size: 0.8vw;
	display: none;
	text-decoration: none;
	letter-spacing: 5px;
	
}
.div2:hover{
	background-color: rgba(255,255,255,0.2);
}
.div3:hover{
	background-color: rgba(255,255,255,0.2);
}
.p1{
	color: white;
	font-family: arial,sans-serif;
	font-size: 3vw;
	/*margin-top: 70px;*/

}
.p2{
	display: inline-block;
	color: white;
	font-family: "Roboto",arial,sans-serif;
	border: 1px solid white;
	border-radius: 3px;
	padding: 12px;
	/*padding-bottom: 7px;*/
	width: 10%;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 5px;
}
.p3{
	display: inline-block;
	color: white;
	font-family: "Roboto",arial,sans-serif;
	border: 1px solid white;
	border-radius: 3px;
	padding: 12px;
	/*padding-bottom: 7px;*/
	width: 6%;
	margin: 0 auto;
	margin-left: 10px;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 5px;
}
.p4{
	color: #f39800;
	font-family: arial,sans-serif;
	font-size: 3vw;
}

/*		@media screen and (max-width: 1024px) {
.img_1{display: inline-block;}
.img_0{display: inline-block;}
.img_2{display: none;}
.img_3{display: none;}
.img_4{display: none;}
.img_5{display: none;}
div{height: 150px;}
}*/



@media screen and (max-width: 640px) {
body{background-image: url("../images/background2.jpg");}
.img_1{display: none;}
.img01{
	margin-top: 30vw;
	max-width: 60vw;
	margin-bottom: 0px;
}
.div2{
	position: absolute;
	left:23vw;
	top: 30vw;
	width: 22vw;
	height: 22vw;
	border-radius: 11vw;
	background-color: rgba(255,255,255,0);
	display: flex;
	align-items:center;
	jusitfy-content:center;
}
.div3{
	position: absolute;
	left:54.5vw;
	top: 30vw;
	width: 22vw;
	height: 22vw;
	border-radius: 11vw;
	background-color: rgba(255,255,255,0);
	display: flex;
	align-items:center;
	jusitfy-content:center;
}
.p0_1{
	margin: 0 auto;
	color: rgba(255,255,255,1);
	font-family: "Roboto",arial,sans-serif;
	font-size: 1.5vw;
	display: none;
	text-decoration: none;
	letter-spacing: 2px;
	
}
.p0_2{
	margin: 0 auto;
	color: rgba(255,255,255,1);
	font-family: "Roboto",arial,sans-serif;
	font-size: 1.5vw;
	display: none;
	text-decoration: none;
	letter-spacing: 2px;
	
}

.p1{
	color: white;
	font-family: arial,sans-serif;
	font-size: 5vw;
	/*margin-top: 70px;*/
	
}
